[Unit]
Description=VK SpamBot Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=spambot
WorkingDirectory=/opt/vk-spambot
ExecStart=/opt/vk-spambot/venv/bin/python3 -m bot
Restart=always
RestartSec=5
EnvironmentFile=/opt/vk-spambot/bot/vk_apis/.env

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target 